@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>View Customers</h1>


<div class="container">
    <!-- Header row -->
    <div class="row fw-bold border-bottom pb-2 mb-2">
        <div class="col">
            @Html.DisplayNameFor(model => model.Customers[0].CompanyName)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Customers[0].Street)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Customers[0].City)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Customers[0].PostalCode)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Customers[0].Phone)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Customers[0].CityPostal)
        </div>
    </div>

    <!-- Data rows -->
    @foreach (var item in Model.Customers)
    {
        <div class="row border-bottom py-2">
            <div class="col">
                @Html.DisplayFor(modelItem => item.CompanyName)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.Street)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.City)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.PostalCode)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.Phone)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.CityPostal)
            </div>
        </div>
    }
</div>
